.who-section{
  background: $gray;
  height: 100vh;
  position: relative;
  width: 100%;
  .img-who{
    position: absolute;
    padding: 42px 0px 0px 483px;
    z-index: 2;
    img{
      width: 450px;
      opacity: .2;
    }
  }
  .title{
    color: $third;
    align-items: center;
    display: flex;
    height: 100vh;
    font-size: 5rem;
    font-weight: bold;
    line-height: 85px;
    z-index: 3;
  }
  .right-text-custom{
    background: $fourth;
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;
  }
  .box-text{
    width: 100%;
    // max-width: 670px;
    bottom: 0px;
    top: 50%;
    position: absolute;
    padding: 25px 19%;
    z-index: 1;
    .first{
      color: white;
      font-size: 15px;
      text-align: justify;
    }
    .second{
      color: white;
      font-size: 15px;
      text-align: justify;
    }
  }
}
