
.right-menu{
  position: absolute;
  width: 40%;
  height: 100vh;
  background: $primary;
  opacity: .9;
  z-index: 15;
  right: -40%;
  &.open{
    right: 0;
  }
}

  /* SECCION, QUIENES SOMOS */

.who-section{
  background: $gray;
  height: 100vh;
  position: relative;
  width: 100%;
    .title{

      color: $third;
      padding-top: 25%;
      font-size: 6rem;
      font-weight: bold;
      line-height: 85px;
    
  }
}
