$primary: #22315c;    //color principal
$secondary: #49d6d6;  //azul claro
$gray: #f5f5f5;       //fondo gris
$third: #7D5716;      //letra quienes somos
$fourth: #C8932D;     //fondo quienes somos
$fifth: #7B372E;      //letra servicios
$sixth: #C84E41;      //fondo servicios
$seventh: #C84E41;    //letra codigo
$eighth: #7B372E;     //fondo codigo
